<div class='row-fluid'>
	<div class='span8'>
		<h2>Times</h2>	
		
			<table id='mytable' class='tablesorter' border='1'>
				<thead>
					<tr>
						<th>Name</th>
						<th>Number</th>
						<th>Email</th>
						<th>Day</th>
						<th>Time</th>
					</tr>
				</thead>
				<tbody>
					<% @user.each do |u| %>
					<tr class='data'>
						<td class='span3'><%= u.name %></td>
						<td class='span3'><%= u.phone %></td>
						<td class='span3'><%= u.email %></td>
						<td class='span3'><%= u.day %></td>
						<td class='span3'><%= u.time %></td>
						
					</tr>
					<% end %>
				</tbody>
			</table>
	</div>
</div>

