<div class='row-fluid'>
	<div class='span6'>

		<% @user.each do |u| %>
			<%= u.name %><br />
			<%= u.phone %><br />
			<%= u.email %><br />
			Day: <%= u.day %><br />
			Time: <%= u.time || u.time1 || u.time2 || u.time3 || u.time4 || u.time5 || u.time6 || u.time7 || 
			u.time8 || u.time9 || u.time10 || u.time11 || u.time12 || u.time13 || u.time14 ||
			u.time15 || u.time16 || u.time17 || u.time18 || u.time19 %><br /><br />
		<% end %>
	</div>
</div>
