
<div class='row-fluid'>
	<h2>Schedule a time.</h2>
	<div class='span4'>
		<p class="join_buttons">
    <a href="#user-day1-modal" role="button" class="btn btn-info"  data-toggle="modal">Day 1</a> 
    <a href="#user-day2-modal" role="button" class="btn btn-info"  data-toggle="modal">Day 2</a>
		<div id="user-day1-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">Time Selection
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        </div>
        <div class="modal-body">
          <p>
            <%= form_for @user do |f| %>
							11:30 A.M. <%= f.radio_button(:time, '11:30') %><br /> 
							11:45 A.M. <%= f.radio_button(:time, '11:45') %><br />
							12:00 P.M. <%= f.radio_button(:time, '12:00') %><br />
							12:15 P.M. <%= f.radio_button(:time, '12:15') %><br />
							12:30 P.M. <%= f.radio_button(:time, '12:30') %><br />
							12:45 P.M. <%= f.radio_button(:time, '12:45') %><br />
							1:00 P.M. <%= f.radio_button(:time, '1:00') %><br />
							1:15 P.M. <%= f.radio_button(:time, '1:15') %><br />
							1:30 P.M. <%= f.radio_button(:time, '1:30') %><br />
							1:45 P.M. <%= f.radio_button(:time, '1:45') %><br />
							5:00 P.M. <%= f.radio_button(:time, '5:00') %><br />
							5:15 P.M. <%= f.radio_button(:time, '5:15') %><br />
							5:30 P.M. <%= f.radio_button(:time, '5:30') %><br />
							5:45 P.M. <%= f.radio_button(:time, '5:45') %><br />
							6:00 P.M. <%= f.radio_button(:time, '6:00') %><br />
							6:15 P.M. <%= f.radio_button(:time, '6:15') %><br />
							6:30 P.M. <%= f.radio_button(:time, '6:30') %><br />
							6:45 P.M. <%= f.radio_button(:time, '6:45') %><br />
							7:00 P.M. <%= f.radio_button(:time, '7:00') %><br />
							7:15 P.M. <%= f.radio_button(:time, '7:15') %><br />
							<%= f.hidden_field :day, :value => 'Day 1' %>
						
          </p>
	        <button class="btn btn-primary" type="submit"class="actions">Submit</button>
	        <% end %>
      	</div> 
			</div>
			<div id="user-day2-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        </div>
        <div class="modal-body">
          <p>
            <%= form_for @user do |f| %>
							11:30 A.M. <%= f.radio_button(:time2, '11:30') %><br />
							11:45 A.M. <%= f.radio_button(:time2, '11:45') %><br />
							12:00 P.M. <%= f.radio_button(:time2, '12:00') %><br />
							12:15 P.M. <%= f.radio_button(:time2, '12:15') %><br />
							12:30 P.M. <%= f.radio_button(:time2, '12:30') %><br />
							12:45 P.M. <%= f.radio_button(:time2, '12:45') %><br />
							1:00 P.M. <%= f.radio_button(:time2, '1:00') %><br />
							1:15 P.M. <%= f.radio_button(:time2, '1:15') %><br />
							1:30 P.M. <%= f.radio_button(:time2, '1:30') %><br />
							1:45 P.M. <%= f.radio_button(:time2, '1:45') %><br />
							5:00 P.M. <%= f.radio_button(:time2, '5:00') %><br />
							5:15 P.M. <%= f.radio_button(:time2, '5:15') %><br />
							5:30 P.M. <%= f.radio_button(:time2, '5:30') %><br />
							5:45 P.M. <%= f.radio_button(:time2, '5:45') %><br />
							6:00 P.M. <%= f.radio_button(:time2, '6:00') %><br />
							6:15 P.M. <%= f.radio_button(:time2, '6:15') %><br />
							6:30 P.M. <%= f.radio_button(:time2, '6:30') %><br />
							6:45 P.M. <%= f.radio_button(:time2, '6:45') %><br />
							7:00 P.M. <%= f.radio_button(:time2, '7:00') %><br />
							7:15 P.M. <%= f.radio_button(:time2, '7:15') %><br />
							<%= f.hidden_field :day, :value => 'Day 2' %>
						
          </p>
	        <button class="btn btn-primary" type="submit"class="actions">Submit</button>
	        <% end %>
      	</div> 
			</div>
    </p>
	</div>
</div>