<div class='row-fluid'>
	<h2>Schedule a time.</h2>
	<div class='span4'>
		<p class="join_buttons">
    <a href="#user-day1-modal" role="button" class="btn btn-info"  data-toggle="modal" class='btn btn-inverse'>Day 1</a> 
    <a href="#user-day2-modal" role="button" class="btn btn-info"  data-toggle="modal">Day 2</a>
		<div id="user-day1-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">Time Selection
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        </div>
        <div class="modal-body">
          <p>
            <%= form_for @user do |f| %>
							<div class='wrapper'>11:30 A.M. <%= f.radio_button(:time, '11:30') %><br /><%= 5 - @time1 unless @time1 == nil %> spots remaining.</div> 
							<div class='wrapper'>11:45 A.M. <%= f.radio_button(:time, '11:45') %><br /><%= 5 - @time2 unless @time2 == nil %> spots remaining.</div>
							<div class='wrapper'>12:00 P.M. <%= f.radio_button(:time, '12:00') %><br /><%= 5 - @time3 unless @time3 == nil%> spots remaining.</div>
							<div class='wrapper'>12:15 P.M. <%= f.radio_button(:time, '12:15') %><br /><%= 5 - @time4 unless @time4 == nil %> spots remaining.</div>
							<div class='wrapper'>12:30 P.M. <%= f.radio_button(:time, '12:30') %><br /><%= 5 - @time5 unless @time5 == nil %> spots remaining.</div>
							<div class='wrapper'>12:45 P.M. <%= f.radio_button(:time, '12:45') %><br /><%= 5 - @time6 unless @time6 == nil %> spots remaining.</div>
							<div class='wrapper'>1:00 P.M. <%= f.radio_button(:time, '1:00') %><br /><%= 5 - @time7 unless @time7 == nil %> spots remaining.<br />
							<div class='wrapper'>1:15 P.M. <%= f.radio_button(:time, '1:15') %><br /><%= 5 - @time8 unless @time8 == nil %> spots remaining.</div>
							<div class='wrapper'>1:30 P.M. <%= f.radio_button(:time, '1:30') %><br /><%= 5 - @time9 unless @time9 == nil %> spots remaining.</div>
							<div class='wrapper'>1:45 P.M. <%= f.radio_button(:time, '1:45') %><br /><%= 5 - @time10 unless @time10 == nil %> spots remaining.</div>
							<div class='wrapper'>5:00 P.M. <%= f.radio_button(:time, '5:00') %><br /><%= 5 - @time11 unless @time11 == nil %> spots remaining.</div>
							<div class='wrapper'>5:15 P.M. <%= f.radio_button(:time, '5:15') %><br /><%= 5 - @time12 unless @time12 == nil %> spots remaining.</div>
							<div class='wrapper'>5:30 P.M. <%= f.radio_button(:time, '5:30') %><br /><%= 5 - @time13 unless @time13 == nil %> spots remaining.</div>
							<div class='wrapper'>5:45 P.M. <%= f.radio_button(:time, '5:45') %><br /><%= 5 - @time14 unless @time14 == nil %> spots remaining.</div>
							<div class='wrapper'>6:00 P.M. <%= f.radio_button(:time, '6:00') %><br /><%= 5 - @time15 unless @time15 == nil %> spots remaining.</div>
							<div class='wrapper'>6:15 P.M. <%= f.radio_button(:time, '6:15') %><br /><%= 5 - @time16 unless @time16 == nil %> spots remaining.</div>
							<div class='wrapper'>6:30 P.M. <%= f.radio_button(:time, '6:30') %><br /><%= 5 - @time17 unless @time17 == nil %> spots remaining.</div>
							<div class='wrapper'>6:45 P.M. <%= f.radio_button(:time, '6:45') %><br /><%= 5 - @time18 unless @time18 == nil %> spots remaining.</div>
							<div class='wrapper'>7:00 P.M. <%= f.radio_button(:time, '7:00') %><br /><%= 5 - @time19 unless @time19 == nil %> spots remaining.</div>
							<div class='wrapper'>7:15 P.M. <%= f.radio_button(:time, '7:15') %><br /><%= 5 - @time20 unless @time20 == nil %> spots remaining</div>
							<%= f.hidden_field :day, :value => 'Day 1' %>

          </p>
	        <button class="btn btn-inverse" type="submit"class="actions">Submit</button>
	        <% end %>
      	</div> 
			</div>
			<div id="user-day2-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        </div>
        <div class="modal-body">
          <p>
            <%= form_for @user do |f| %>
							11:30 A.M. <%= f.radio_button(:time2, '11:30') %><br />
							11:45 A.M. <%= f.radio_button(:time2, '11:45') %><br />
							12:00 P.M. <%= f.radio_button(:time2, '12:00') %><br />
							12:15 P.M. <%= f.radio_button(:time2, '12:15') %><br />
							12:30 P.M. <%= f.radio_button(:time2, '12:30') %><br />
							12:45 P.M. <%= f.radio_button(:time2, '12:45') %><br />
							1:00 P.M. <%= f.radio_button(:time2, '1:00') %><br />
							1:15 P.M. <%= f.radio_button(:time2, '1:15') %><br />
							1:30 P.M. <%= f.radio_button(:time2, '1:30') %><br />
							1:45 P.M. <%= f.radio_button(:time2, '1:45') %><br />
							5:00 P.M. <%= f.radio_button(:time2, '5:00') %><br />
							5:15 P.M. <%= f.radio_button(:time2, '5:15') %><br />
							5:30 P.M. <%= f.radio_button(:time2, '5:30') %><br />
							5:45 P.M. <%= f.radio_button(:time2, '5:45') %><br />
							6:00 P.M. <%= f.radio_button(:time2, '6:00') %><br />
							6:15 P.M. <%= f.radio_button(:time2, '6:15') %><br />
							6:30 P.M. <%= f.radio_button(:time2, '6:30') %><br />
							6:45 P.M. <%= f.radio_button(:time2, '6:45') %><br />
							7:00 P.M. <%= f.radio_button(:time2, '7:00') %><br />
							7:15 P.M. <%= f.radio_button(:time2, '7:15') %><br />
							<%= f.hidden_field :day, :value => 'Day 2' %>

          </p>
	        <button class="btn btn-primary" type="submit"class="actions">Submit</button>
	        <% end %>
      	</div> 
			</div>
    </p>
	</div>
</div>