<div class='row-fluid'>
	<h2>Day Selections</h2><br />
	<a href="#time1" role="button" class="btn btn-inverse" data-toggle="modal">July 10</a> or 
	<a href="#time2" role="button" class="btn btn-inverse" data-toggle="modal">July 11</a>
	<div id="time1" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">Select a time.</h3>
			</div>
			<div class="modal-body">
				<%= form_for @user do |f| %>
				<div class='wrapper'>11:00 A.M. <%= f.radio_button(:time1, '11:00') %><br /><%= 5 - @time1 unless @time1 == nil %> spots remaining.</div> 
				<div class='wrapper'>11:20 A.M. <%= f.radio_button(:time1, '11:20') %><br /><%= 5 - @time2 unless @time2 == nil %> spots remaining.</div>
				<div class='wrapper'>11:40 A.M. <%= f.radio_button(:time1, '11:40') %><br /><%= 5 - @time3 unless @time3 == nil%> spots remaining.</div>
				<div class='wrapper'>12:00 P.M. <%= f.radio_button(:time1, '12:00') %><br /><%= 5 - @time4 unless @time4 == nil %> spots remaining.</div>
				<div class='wrapper'>12:20 P.M. <%= f.radio_button(:time1, '12:20') %><br /><%= 5 - @time5 unless @time5 == nil %> spots remaining.</div>
				<div class='wrapper'>12:40 P.M. <%= f.radio_button(:time1, '12:40') %><br /><%= 5 - @time6 unless @time6 == nil %> spots remaining.</div>
				<div class='wrapper'>1:00 P.M. <%= f.radio_button(:time1, '1:00') %><br /><%= 5 - @time7 unless @time7 == nil %> spots remaining.</div>
				<div class='wrapper'>1:20 P.M. <%= f.radio_button(:time1, '1:20') %><br /><%= 5 - @time8 unless @time8 == nil %> spots remaining.</div>
				<div class='wrapper'>1:40 P.M. <%= f.radio_button(:time1, '1:40') %><br /><%= 5 - @time9 unless @time9 == nil %> spots remaining.</div>
				<div class='wrapper'>2:00 P.M. <%= f.radio_button(:time1, '2:00') %><br /><%= 5 - @time10 unless @time10 == nil %> spots remaining.</div>
				<div class='wrapper'>4:00 P.M. <%= f.radio_button(:time1, '4:00') %><br /><%= 5 - @time11 unless @time11 == nil %> spots remaining.</div>
				<div class='wrapper'>4:20 P.M. <%= f.radio_button(:time1, '4:20') %><br /><%= 5 - @time12 unless @time12 == nil %> spots remaining.</div>
				<div class='wrapper'>4:40 P.M. <%= f.radio_button(:time1, '4:40') %><br /><%= 5 - @time13 unless @time13 == nil %> spots remaining.</div>
				<div class='wrapper'>5:00 P.M. <%= f.radio_button(:time1, '5:00') %><br /><%= 5 - @time14 unless @time14 == nil %> spots remaining.</div>
				<div class='wrapper'>5:20 P.M. <%= f.radio_button(:time1, '5:20') %><br /><%= 5 - @time15 unless @time15 == nil %> spots remaining.</div>
				<div class='wrapper'>5:40 P.M. <%= f.radio_button(:time1, '5:40') %><br /><%= 5 - @time16 unless @time16 == nil %> spots remaining.</div>
				<div class='wrapper'>6:00 P.M. <%= f.radio_button(:time1, '6:00') %><br /><%= 5 - @time17 unless @time17 == nil %> spots remaining.</div>
				<div class='wrapper'>6:20 P.M. <%= f.radio_button(:time1, '6:20') %><br /><%= 5 - @time18 unless @time18 == nil %> spots remaining.</div>
				<div class='wrapper'>6:40 P.M. <%= f.radio_button(:time1, '6:40') %><br /><%= 5 - @time19 unless @time19 == nil %> spots remaining.</div>
				<div class='wrapper'>7:00 P.M. <%= f.radio_button(:time1, '7:00') %><br /><%= 5 - @time20 unless @time20 == nil %> spots remaining</div>
				<div class='wrapper'><%= f.radio_button(:time1, 'No time.') %>  Interested but not available during these times. Please inform me of future conversation opportunities.<br /></div>
				<%= f.hidden_field :day, :value => 'July 10' %>
	  		<button class="btn btn-inverse" type="submit"class="actions">Submit</button>
				<% end %>
			</div>
		</div>

		<div id="time2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">Select a time.</h3>
			</div>
			<div class="modal-body">
				<%= form_for @user do |f| %>
				<div class='wrapper'>11:00 A.M. <%= f.radio_button(:time2, '11:00') %><br /><%= 5 - @time21 unless @time21 == nil %> spots remaining.</div> 
				<div class='wrapper'>11:20 A.M. <%= f.radio_button(:time2, '11:20') %><br /><%= 5 - @time22 unless @time22 == nil %> spots remaining.</div>
				<div class='wrapper'>11:40 A.M. <%= f.radio_button(:time2, '11:40') %><br /><%= 5 - @time23 unless @time23 == nil%> spots remaining.</div>
				<div class='wrapper'>12:00 P.M. <%= f.radio_button(:time2, '12:00') %><br /><%= 5 - @time24 unless @time24 == nil %> spots remaining.</div>
				<div class='wrapper'>12:20 P.M. <%= f.radio_button(:time2, '12:20') %><br /><%= 5 - @time25 unless @time25 == nil %> spots remaining.</div>
				<div class='wrapper'>12:40 P.M. <%= f.radio_button(:time2, '12:40') %><br /><%= 5 - @time26 unless @time26 == nil %> spots remaining.</div>
				<div class='wrapper'>1:00 P.M. <%= f.radio_button(:time2, '1:00') %><br /><%= 5 - @time27 unless @time27 == nil %> spots remaining.</div>
				<div class='wrapper'>1:20 P.M. <%= f.radio_button(:time2, '1:20') %><br /><%= 5 - @time28 unless @time28 == nil %> spots remaining.</div>
				<div class='wrapper'>1:40 P.M. <%= f.radio_button(:time2, '1:40') %><br /><%= 5 - @time40 unless @time40 == nil %> spots remaining</div>
				<div class='wrapper'>2:00 P.M. <%= f.radio_button(:time2, '2:00') %><br /><%= 5 - @time29 unless @time29 == nil %> spots remaining.</div>
				<div class='wrapper'>4:00 P.M. <%= f.radio_button(:time2, '4:00') %><br /><%= 5 - @time30 unless @time30 == nil %> spots remaining.</div>
				<div class='wrapper'>4:20 P.M. <%= f.radio_button(:time2, '4:20') %><br /><%= 5 - @time31 unless @time31 == nil %> spots remaining.</div>
				<div class='wrapper'>4:40 P.M. <%= f.radio_button(:time2, '4:40') %><br /><%= 5 - @time32 unless @time32 == nil %> spots remaining.</div>
				<div class='wrapper'>5:00 P.M. <%= f.radio_button(:time2, '5:00') %><br /><%= 5 - @time33 unless @time33 == nil %> spots remaining.</div>
				<div class='wrapper'>5:20 P.M. <%= f.radio_button(:time2, '5:20') %><br /><%= 5 - @time34 unless @time34 == nil %> spots remaining.</div>
				<div class='wrapper'>5:40 P.M. <%= f.radio_button(:time2, '5:40') %><br /><%= 5 - @time35 unless @time35 == nil %> spots remaining.</div>
				<div class='wrapper'>6:00 P.M. <%= f.radio_button(:time2, '6:00') %><br /><%= 5 - @time36 unless @time36 == nil %> spots remaining.</div>
				<div class='wrapper'>6:20 P.M. <%= f.radio_button(:time2, '6:20') %><br /><%= 5 - @time37 unless @time37 == nil %> spots remaining.</div>
				<div class='wrapper'>6:40 P.M. <%= f.radio_button(:time2, '6:40') %><br /><%= 5 - @time38 unless @time38 == nil %> spots remaining.</div>
				<div class='wrapper'>7:00 P.M. <%= f.radio_button(:time2, '7:00') %><br /><%= 5 - @time39 unless @time39 == nil %> spots remaining.</div>
				<div class='wrapper'><%= f.radio_button(:time2, 'No time.') %>  Interested but not available during these times. Please inform me of future conversation opportunities.<br /></div>
				<%= f.hidden_field :day, :value => 'July 11' %>
	  		<button class="btn btn-inverse" type="submit"class="actions">Submit</button>
				<% end %>
			</div>
		</div>
	</div>